@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  #map
    position absolute
    top 0px
    left 0px
    width 100%
    bottom 0px
  #detail
    z-index 100
    position absolute
    top 0px
    right 0px
    background #fa
    width 400px
    border-left 1px solid #c
    border-bottom 1px solid #c
    padding 10px 10px
    border-bottom-left-radius 3px
    h2
      margin 0px
      font-size 16px
      color ColorRed
      margin-bottom 8px
    p
      margin 0px
